<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/stylesheet.css">
   <link rel="icon" href="static/confetti.png" type="image/x-icon">
   <title>HAPPY BIRTHDAY</title>
</head>
<body>
    <h1 id="message">Click Below!</h1>
    <button id="confettiButton">
        <img src="static/confetti.png">
    </button>
    <script src="static/confettibutton.js"></script>
</body>
</html>